<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <style>
        body {
            text-align: center;
        }

        .container {
        max-width: 1800px; /* Définir la largeur maximale du conteneur */
        margin: auto; /* Centrer le conteneur horizontalement */
        }

        .user-card {
            width: 80px; /* Largeur de la carte */
            height: 40px; /* Largeur de la carte */
            display: flex; /* Utilisation de Flexbox */
            align-items: center; /* Centrage vertical */
            justify-content: center; /* Centrage horizontal */
        }

        .bg-lssd {
            background-color: #14842D; /* Remplacez #007bff par le code couleur de votre choix */
            color: #FFD700; /* Couleur du texte */
        }

        .bg-lspd {
            background-color: #161A6D; /* Remplacez #007bff par le code couleur de votre choix */
            color: #FFD700; /* Couleur du texte */
        }

        .bg-standard {
            background-color: #FEFFAD;
            color: #FFFFFF;
        }

        .bg-mary {
            background-color: #D3FFAD;
            color: #111111;
        }

        .bg-henry {
            background-color: #ADFFFA;
        }

        .bg-vir {
            background-color: #C862FF;
        }

        .bg-inter {
            background-color: #FF0000;
        }

        .bg-pr {
            background-color: #6F5205;
        }

        .draggable {
            cursor: move;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">DISPATCH</h1>
        <br>

        <button class="btn btn-secondary waiting-button mb-3 w-75" id = "waiting-card">
            <h5 class="card-title">EN ATTENTE DE DISPATCH</h5>
            <div class = "row m-2 justify-content-right">
                {% for user in users_waiting %}
                    <div class="card draggable user-card mr-2 ml-2 d-flex align-items-center {% if user.matricule >= 300 %}bg-lssd{% elif user.matricule < 300 %}bg-lspd{% endif %}" data-user-id="{{ user.id }}" draggable="true">
                        <div class="card-body text-center">
                            <p class="card-text d-flex align-items-center justify-content-center h-100 font-weight-bold">{{ user.matricule }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </button>

        <div class="row justify-content-around">

            <div class="card bg-light mb-3 col-md-5" id="active-card">
                <div class="card-body">
                    <h5 class="card-title">SUR LE TERRAIN</h5>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn bg-standard"><i class="fa-solid fa-car"></i></i></button>
                            <button class="btn bg-mary"><i class="fa-solid fa-motorcycle"></i></i></i></button>
                            <button class="btn bg-henry"><i class="fa-solid fa-helicopter"></i></i></i></button>
                            <button class="btn bg-vir"><i class="fa-solid fa-bolt"></i></i></button>
                            <button class="btn bg-inter"><i class="fa-solid fa-person-rifle"></i></i></button>
                            <button class="btn bg-pr"><i class="fa-solid fa-paw"></i></i></button>
                        </div>
                    </div>
    
                    <div class="row">
                        {% for patrol in patrols %}
                            {% if patrol.intervention_id == 0 %}
                                {% if patrol.id != 0 %}
                                    <div class="col-md-4">
                                        <input type="hidden" name="patrol_id" value="{{ patrol.id }}">
                                        <button class="btn btn-secondary mb-3 patrol-button patrol-card" id="patrol-{{ patrol.id }}" value="{{ patrol.id }}" type="submit">
                                            {% if patrol.users|length == 1 %}
                                                <h6 class="card-text">Lincoln #{{ patrol.id }}</h6>
                                            {% elif patrol.users|length == 2 %}
                                                <h6 class="card-text">Adam #{{ patrol.id }}</h6>
                                            {% elif patrol.users|length == 3 %}
                                                <h6 class="card-text">Tango #{{ patrol.id }}</h6>
                                            {% endif %}
                                            {% for user in patrol.users %}
                                                <div class="card mb-1 draggable user-card d-flex align-items-center {% if user.matricule >= 300 %}bg-lssd{% elif user.matricule < 300 %}bg-lspd{% endif %}" data-user-id="{{ user.id }}" draggable="true">
                                                    <div class="card-body text-center">
                                                        <p class="card-text d-flex align-items-center justify-content-center h-100 font-weight-bold">{{ user.matricule }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </button>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card bg-light mb-3 col-md-5">
                <div class="card-body">
                    <h5 class="card-title">INTERVENTIONS</h5>
                    <br>
    
                    {% if role == 'admin' %}
                        <form action="/create_intervention" method="POST">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="interventionName" name="interventionName" placeholder="Nom de l'intervention" required>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary btn-block">Créer</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
    
                    <br>
    
                    <div class="row">
                        {% for intervention in interventions %}
                            {% if intervention.id != 0 %}
                                <div class="col-md-12">
                                    <div class="card bg-dark mb-1 intervention-card text-white" id="intervention-{{ intervention.id }}" value ="{{ intervention.id }}"">
                                        <div class="card-body row justify-content-around">
                                            <h6 class="card-text col-md-10">{{ intervention.name }} #{{ intervention.id }}</h6>
                                            <input type="hidden" name="inter_id" value="{{ intervention.id }}">
                                            {% if role == 'admin' %}
                                                <button type="submit" class="btn btn-danger btn-sm delete-inter-button" id="inter-{{ intervention.id }}">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            {% for patrol in patrols %}
                                                {% if patrol.intervention_id == intervention.id %}
                                                    {% if patrol.id != 0 %}
                                                        <div class="col-md-4">
                                                            <input type="hidden" name="patrol_id" value="{{ patrol.id }}">
                                                            <button class="btn btn-secondary mb-3 patrol-button" id="patrol-{{ patrol.id }}" type="submit">
                                                                {% if patrol.users|length == 1 %}
                                                                    <h6 class="card-text">Lincoln #{{ patrol.id }}</h6>
                                                                {% elif patrol.users|length == 2 %}
                                                                    <h6 class="card-text">Adam #{{ patrol.id }}</h6>
                                                                {% elif patrol.users|length == 3 %}
                                                                    <h6 class="card-text">Tango #{{ patrol.id }}</h6>
                                                                {% endif %}
                                                                {% for user in patrol.users %}
                                                                    <div class="card mb-1 user-card d-flex align-items-center {% if user.matricule >= 300 %}bg-lssd{% elif user.matricule < 300 %}bg-lspd{% endif %}" id="patrol-{{ patrol.id }}">
                                                                        <div class="card-body text-center">
                                                                            <p class="card-text d-flex align-items-center justify-content-center h-100 font-weight-bold">{{ user.matricule }}</p>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </button>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
    
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var userCards = document.querySelectorAll('.user-card');
            
            var on_terrain_card = document.getElementById('active-card');
            var waiting_card = document.getElementById('waiting-card');
            var patrol_cards = document.querySelectorAll('.patrol-card');
            var intervention_cards = document.querySelectorAll('.intervention-card');

            var draggedUserId = null;
            var patrol_id = null;

            userCards.forEach(function(card) {
                card.addEventListener('dragstart', function(event) {
                    draggedUserId = card.getAttribute('data-user-id')
                });
            });

            patrol_cards.forEach(function(card) {
                card.addEventListener('dragover', function(event) {
                    event.preventDefault();
                });
            });

            intervention_cards.forEach(function(card) {
                card.addEventListener('dragover', function(event) {
                    event.preventDefault();
                });
            });

            on_terrain_card.addEventListener('dragover', function(event) {
                event.preventDefault();
            });

            waiting_card.addEventListener('dragover', function(event) {
                event.preventDefault();
            });

            on_terrain_card.addEventListener('drop', function(event) {
                event.preventDefault();
                if (draggedUserId) {
                    window.location.href = '/create_patrol/' + draggedUserId;
                    draggedUserId = null;
                }
            });

            waiting_card.addEventListener('drop', function(event) {
                event.preventDefault();
                if (draggedUserId) {
                    window.location.href = '/drop_patrol/' + draggedUserId + '/' + 0;
                    draggedUserId = null; 
                }
            });

            patrol_cards.forEach(function(card) {
                card.addEventListener('drop', function(event) {
                    patrol_id = card.getAttribute('value')
                    event.preventDefault();
                    if (draggedUserId) {
                        window.location.href = '/drop_patrol/' + draggedUserId + '/' + patrol_id;
                        draggedUserId = null; 
                        patrol_id = null; 
                    }
                }
                );
            });

            intervention_cards.forEach(function(card) {
                card.addEventListener('drop', function(event) {
                    intervention_id = card.getAttribute('value')
                    event.preventDefault();
                    if (draggedUserId) {
                        window.location.href = '/drop_intervention/' + draggedUserId + '/' + intervention_id;
                        draggedUserId = null; 
                        intervention_id = null; 
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var waitingButtons = document.querySelectorAll('.waiting-button');
            
            waitingButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    window.location.href = '/join_patrol/' + 0;
                });
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var deleteInterButtons = document.querySelectorAll('.delete-inter-button');
            
            deleteInterButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var interId = this.id.split('-')[1];
                    window.location.href = '/delete_intervention/' + interId;
                });
            });
        });
    </script>

    <script src="https://kit.fontawesome.com/f1989ada32.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> <!-- Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->
</body>
</html>