<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <style>
        body {
            text-align: center;
            width: 100vw;
            height: 100vh;
            background-color: #1f1f1f;
            color: #FFFFFF; /* Couleur du texte */
        }

        .container {
        max-width: 1800px; /* Définir la largeur maximale du conteneur */
        margin: auto; /* Centrer le conteneur horizontalement */
        }

        .user-card {
            width: 80px; /* Largeur de la carte */
            height: 40px; /* Largeur de la carte */
            display: flex; /* Utilisation de Flexbox */
            align-items: center; /* Centrage vertical */
            justify-content: center; /* Centrage horizontal */
        }

        .bg-lightdark {
            background-color: #4a4a4a; /* Remplacez #007bff par le code couleur de votre choix */
            color: #FFFFFF; /* Couleur du texte */
        }

        .bg-lightdark2 {
            background-color: #6e6e6e; /* Remplacez #007bff par le code couleur de votre choix */
            color: #FFFFFF; /* Couleur du texte */
        }

        .bg-lssd {
            background-color: #14842D; /* Remplacez #007bff par le code couleur de votre choix */
            color: #FFD700; /* Couleur du texte */
        }

        .bg-lspd {
            background-color: #161A6D; /* Remplacez #007bff par le code couleur de votre choix */
            color: #FFD700; /* Couleur du texte */
        }

        .bg-standard {
            background-color: #FEFFAD;
        }

        .bg-mary {
            background-color: #D3FFAD;
        }

        .bg-henry {
            background-color: #ADFFFA;
        }

        .bg-vir {
            background-color: #C862FF;
        }

        .bg-inter {
            background-color: #FF0000;
        }

        .bg-pr {
            background-color: #6F5205;
        }

        .bg-db {
            background-color: #cccccc;
        }

        .bg-clear {
            background-color: #ffffff;
        }

        .bg-otages {
            background-color: #629c89;
        }

        .draggable {
            cursor: move;
        }
    </style>
</head>
<body>
    <div class="container-fluid" id = "DATA" value = "{{ role }}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
            <a class="navbar-brand" href="#">DASHBOARD</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Dispatch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/laws">Codes de Lois</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/proc">Procédures</a>
                    </li>
                    <!-- Add more menu items as needed -->
                </ul>
            </div>
        </nav>

        <h1 class="mt-5">DISPATCH</h1>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>

        <br>

        <button class="btn waiting-button bg-lightdark mb-3 w-75 pt-3" id = "waiting-card">
            <h5 class="card-title">STAND-BY</h5>
            <div class = "row m-2 justify-content-right mt-4">
                {% for user in users_waiting %}
                    <div class="card draggable user-card mr-2 ml-2 mb-2 d-flex align-items-center {% if user.matricule >= 300 %}bg-lssd{% elif user.matricule < 300 %}bg-lspd{% endif %}" data-user-id="{{ user.id }}" draggable="true" data-toggle="tooltip" title="{{ user.name }}">
                        <div class="card-body text-center">
                            <p class="card-text d-flex align-items-center justify-content-center h-100 font-weight-bold">{{ user.matricule }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </button>

        <div class="row justify-content-around">

            <div class="card bg-lightdark2 mb-3 col-md-5" id="active-card">
                <div class="card-body">
                    <h5 class="card-title mb-3">PATROLS</h5>

                    {% if role == 'admin' %}
                        <div class="row justify-content-around mb-3">
                            <button class="btn bg-standard btn-lg patrol-type-card" patrol-type="standard" type="terrain" data-toggle="tooltip" title="Standard Patrol"><i class="fa-solid fa-car"></i></button>
                            <button class="btn bg-mary btn-lg patrol-type-card" patrol-type="mary" type="terrain" data-toggle="tooltip" title="Mary Patrol"><i class="fa-solid fa-motorcycle"></i></button>
                            <button class="btn bg-henry btn-lg patrol-type-card" patrol-type="henry" type="terrain" data-toggle="tooltip" title="Henry Patrol"><i class="fa-solid fa-helicopter"></i></button>
                            <button class="btn bg-vir btn-lg patrol-type-card" patrol-type="vir" type="terrain" data-toggle="tooltip" title="VIR Patrol"><i class="fa-solid fa-bolt"></i></button>
                            <button class="btn bg-inter btn-lg patrol-type-card" patrol-type="inter" type="terrain" data-toggle="tooltip" title="SWAT/SEB Patrol"><i class="fa-solid fa-person-rifle"></i></button>
                            <button class="btn bg-pr btn-lg patrol-type-card" patrol-type="pr" type="terrain" data-toggle="tooltip" title="Park Rangers Patrol"><i class="fa-solid fa-paw"></i></button>
                            <button class="btn bg-db btn-lg patrol-type-card" patrol-type="db" type="terrain" data-toggle="tooltip" title="Detective Bureau Patrol"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    {% endif %}
    
                    <div class="row">
                        {% for patrol in patrols %}
                            {% if patrol.intervention_id == 0 %}
                                {% if patrol.id != 0 %}
                                    <div class="col-md-4">
                                        <input type="hidden" name="patrol_id" value="{{ patrol.id }}">
                                        <button class="btn mb-3 patrol-button patrol-card {% if patrol.type == 'standard' %}bg-standard{% elif patrol.type == 'henry' %}bg-henry{% elif patrol.type == 'mary' %}bg-mary{% elif patrol.type == 'vir' %}bg-vir{% elif patrol.type == 'inter' %}bg-inter{% elif patrol.type == 'pr' %}bg-pr{% elif patrol.type == 'db' %}bg-db{% endif %}" id="patrol-{{ patrol.id }}" value="{{ patrol.id }}" type="submit">
                                            {% if patrol.type == 'standard' %}
                                                {% if patrol.users|length == 1 %}
                                                    <h6 class="card-text">Lincoln #{{ patrol.id }}</h6>
                                                {% elif patrol.users|length == 2 %}
                                                    <h6 class="card-text">Adam #{{ patrol.id }}</h6>
                                                {% elif patrol.users|length == 3 %}
                                                    <h6 class="card-text">Tango #{{ patrol.id }}</h6>
                                                {% elif patrol.users|length == 4 %}
                                                    <h6 class="card-text">Xray #{{ patrol.id }}</h6>
                                                {% endif %}
                                            {% elif patrol.type == 'henry' %}
                                                <h6 class="card-text">Henry #{{ patrol.id }}</h6>
                                            {% elif patrol.type == 'mary' %}
                                                <h6 class="card-text">Mary #{{ patrol.id }}</h6>
                                            {% elif patrol.type == 'vir' %}
                                                <h6 class="card-text">VIR #{{ patrol.id }}</h6>
                                            {% elif patrol.type == 'db' %}
                                                <h6 class="card-text">DB #{{ patrol.id }}</h6>
                                            {% elif patrol.type == 'pr' %}
                                                <h6 class="card-text">Ranger #{{ patrol.id }}</h6>
                                            {% elif patrol.type == 'inter' %}
                                                <h6 class="card-text">SWAT/SEB #{{ patrol.id }}</h6>
                                            {% endif %}
                                            {% for user in patrol.users %}
                                                <div class="card mb-1 draggable user-card d-flex align-items-center {% if user.matricule >= 300 %}bg-lssd{% elif user.matricule < 300 %}bg-lspd{% endif %}" data-user-id="{{ user.id }}" draggable="true">
                                                    <div class="card-body text-center">
                                                        <p class="card-text d-flex align-items-center justify-content-center h-100 font-weight-bold">{{ user.matricule }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </button>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card bg-lightdark2 mb-3 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">MISSIONS</h5>
                    <br>
    
                    {% if role == 'admin' %}
                        <form action="/create_intervention" method="POST">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="interventionName" name="interventionName" placeholder="Nom de l'intervention" required>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary btn-block">Créer</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
    
                    <br>
    
                    <div class="row">
                        {% for intervention in interventions %}
                            {% if intervention.id != 0 %}
                                <div class="col-md-12">
                                    <div class="card bg-dark mb-1 intervention-card text-white" id="intervention-{{ intervention.id }}" value ="{{ intervention.id }}"">
                                        <div class="card-body row justify-content-around">
                                            <h5 class="card-text col-md-10">{{ intervention.name }} #{{ intervention.id }}</h6>
                                            <input type="hidden" name="inter_id" value="{{ intervention.id }}">
                                            {% if role == 'admin' %}
                                                <div class="row w-100 justify-content-around mt-2 mb-3">
                                                    <button class="btn bg-standard btn-lg patrol-type-card" patrol-type="standard" type="intervention" value="{{ intervention.id }}" data-toggle="tooltip" title="Standard Patrol"><i class="fa-solid fa-car"></i></button>
                                                    <button class="btn bg-mary btn-lg patrol-type-card" patrol-type="mary" type="intervention" value="{{ intervention.id }}" data-toggle="tooltip" title="Mary Patrol"><i class="fa-solid fa-motorcycle"></i></button>
                                                    <button class="btn bg-henry btn-lg patrol-type-card" patrol-type="henry" type="intervention" value="{{ intervention.id }}" data-toggle="tooltip" title="Henry Patrol"><i class="fa-solid fa-helicopter"></i></button>
                                                    <button class="btn bg-vir btn-lg patrol-type-card" patrol-type="vir" type="intervention" value="{{ intervention.id }}" data-toggle="tooltip" title="VIR Patrol"><i class="fa-solid fa-bolt"></i></button>
                                                    <button class="btn bg-inter btn-lg patrol-type-card" patrol-type="inter" type="intervention" value="{{ intervention.id }}" data-toggle="tooltip" title="SWAT/SEB Squad"><i class="fa-solid fa-person-rifle"></i></button>
                                                    <button class="btn bg-otages btn-lg patrol-type-card" patrol-type="otages" type="intervention" value="{{ intervention.id }}" data-toggle="tooltip" title="Hostage Assistance"><i class="fa-solid fa-suitcase-medical"></i></button>
                                                    <button class="btn bg-clear btn-lg patrol-type-card" patrol-type="clear" type="intervention" value="{{ intervention.id }}" data-toggle="tooltip" title="Zone Clearing"><i class="fa-solid fa-broom"></i></button>
                                                    <button type="submit" class="btn btn-danger btn-lg delete-inter-button" data-toggle="tooltip" title="Delete Mission" id="inter-{{ intervention.id }}">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            {% for patrol in patrols %}
                                                {% if patrol.intervention_id == intervention.id %}
                                                    {% if patrol.id != 0 %}
                                                        <div class="col-md-4">
                                                            <input type="hidden" name="patrol_id" value="{{ patrol.id }}">
                                                            <button class="btn mb-3 patrol-button patrol-card {% if patrol.type == 'standard' %}bg-standard{% elif patrol.type == 'henry' %}bg-henry{% elif patrol.type == 'mary' %}bg-mary{% elif patrol.type == 'vir' %}bg-vir{% elif patrol.type == 'inter' %}bg-inter{% elif patrol.type == 'pr' %}bg-pr{% elif patrol.type == 'db' %}bg-db{% elif patrol.type == 'clear' %}bg-clear{% elif patrol.type == 'otages' %}bg-otages{% endif %}" id="patrol-{{ patrol.id }}" value="{{ patrol.id }}" type="submit">
                                                                {% if patrol.type == 'standard' %}
                                                                    {% if patrol.users|length == 1 %}
                                                                        <h6 class="card-text">Lincoln #{{ patrol.id }}</h6>
                                                                    {% elif patrol.users|length == 2 %}
                                                                        <h6 class="card-text">Adam #{{ patrol.id }}</h6>
                                                                    {% elif patrol.users|length == 3 %}
                                                                        <h6 class="card-text">Tango #{{ patrol.id }}</h6>
                                                                    {% elif patrol.users|length == 4 %}
                                                                        <h6 class="card-text">Xray #{{ patrol.id }}</h6>
                                                                    {% endif %}
                                                                {% elif patrol.type == 'henry' %}
                                                                    <h6 class="card-text">Henry #{{ patrol.id }}</h6>
                                                                {% elif patrol.type == 'mary' %}
                                                                    <h6 class="card-text">Mary #{{ patrol.id }}</h6>
                                                                {% elif patrol.type == 'vir' %}
                                                                    <h6 class="card-text">VIR #{{ patrol.id }}</h6>
                                                                {% elif patrol.type == 'clear' %}
                                                                    <h6 class="card-text">Clear #{{ patrol.id }}</h6>
                                                                {% elif patrol.type == 'otages' %}
                                                                    <h6 class="card-text">Ass. Otages #{{ patrol.id }}</h6>
                                                                {% elif patrol.type == 'inter' %}
                                                                    <h6 class="card-text">SWAT/SEB #{{ patrol.id }}</h6>
                                                                {% endif %}
                                                                {% for user in patrol.users %}
                                                                    <div class="card mb-1 draggable user-card d-flex align-items-center {% if user.matricule >= 300 %}bg-lssd{% elif user.matricule < 300 %}bg-lspd{% endif %}" data-user-id="{{ user.id }}" draggable="true">
                                                                        <div class="card-body text-center">
                                                                            <p class="card-text d-flex align-items-center justify-content-center h-100 font-weight-bold">{{ user.matricule }}</p>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </button>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
    
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dataDIV = document.getElementById('DATA');
            role = dataDIV.getAttribute('value')

            if (role == "admin") {
                var userCards = document.querySelectorAll('.user-card');

                var patrol_type_cards = document.querySelectorAll('.patrol-type-card');

                var waiting_card = document.getElementById('waiting-card');
                var patrol_cards = document.querySelectorAll('.patrol-card');

                var draggedUserId = null;
                var patrol_type = null;
                var patrol_id = null;

                userCards.forEach(function(card) {
                    card.addEventListener('dragstart', function(event) {
                        draggedUserId = card.getAttribute('data-user-id')
                    });
                });

                patrol_cards.forEach(function(card) {
                    card.addEventListener('dragover', function(event) {
                        event.preventDefault();
                    });
                });

                patrol_type_cards.forEach(function(card) {
                    card.addEventListener('dragover', function(event) {
                        event.preventDefault();
                    });
                });

                waiting_card.addEventListener('dragover', function(event) {
                    event.preventDefault();
                });

                patrol_type_cards.forEach(function(card) {
                    card.addEventListener('drop', function(event) {
                        event.preventDefault();
                        patrol_type = card.getAttribute('patrol-type')
                        if (draggedUserId) {
                            if (card.getAttribute('type') == 'terrain') 
                            {
                                window.location.href = '/create_patrol/' + draggedUserId + '/' + patrol_type;
                                draggedUserId = null;
                            
                            } else {
                                intervention_id = card.getAttribute('value')
                                window.location.href = '/drop_intervention/' + draggedUserId + '/' + intervention_id + '/' + patrol_type;
                                draggedUserId = null; 
                                intervention_id = null; 
                            }
                        }
                    });
                });

                waiting_card.addEventListener('drop', function(event) {
                    event.preventDefault();
                    if (draggedUserId) {
                        window.location.href = '/drop_patrol/' + draggedUserId + '/' + 0;
                        draggedUserId = null; 
                    }
                });

                patrol_cards.forEach(function(card) {
                    card.addEventListener('drop', function(event) {
                        patrol_id = card.getAttribute('value')
                        event.preventDefault();
                        if (draggedUserId) {
                            window.location.href = '/drop_patrol/' + draggedUserId + '/' + patrol_id;
                            draggedUserId = null; 
                            patrol_id = null; 
                        }
                    }
                    );
                });
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            setInterval(function() {
                window.location.href = '/home'
            }, 30000);
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var deleteInterButtons = document.querySelectorAll('.delete-inter-button');
            
            deleteInterButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var interId = this.id.split('-')[1];
                    window.location.href = '/delete_intervention/' + interId;
                });
            });
        });
    </script>

    <script src="https://kit.fontawesome.com/f1989ada32.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> <!-- Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->
</body>
</html>